.pokemon-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.09);
  padding: 16px;

  img {
    height: 150px;
  }

  p {
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #3273dc;

    &:hover {
      color: black;
    }
  }

  .ability {
    display: flex;
    background-color: aqua;
    color: black;
    margin: auto 4px;
    padding: 4px 8px;
    border-radius: 12px;
  }

  a {
    text-decoration: none;
  }

  button {
    padding: 8px;
    border-color: transparent;
    color: aliceblue;
    border-radius: 4px;

    &.add-favorite {
      background: #00b89c;
    }

    &.remove-favorite {
      background: red;
    }
  }
}
