.main-wrapper {
  width: 80%;
  margin: auto 10%;
}

.layout-nav {
  display: grid;
  place-items: center;
  height: 100px;
}

.layout-links {
  text-decoration: none;
  color: black;
}

.layout-footer {
  display: grid;
  place-items: center;
  height: 50px;
}
